.scale-text {
  font-weight: normal;
  font-size: .8em;
}

.mark {
  opacity: .5;
  transition: 200ms;
}

.mark.mark--hide {
  opacity: 0;
}

.axis-name {
  font-weight: bold;
}

.axis-value {
  font-size: 0.8em;
}