.scale-text {
  font-weight: normal;
  font-size: .8em;
}

.mark {
  opacity: .5;
  transition: opacity 500ms 1000ms;
}

.mark.mark--hide {
  opacity: 0;
  transition: opacity 500ms;
}

.axis-name {
  font-weight: bold;
}

.axis-value {
  font-size: 0.8em;
}

.legend-manufacturer {
  cursor: pointer;
}

.legend-manufacturer--active .legend-manufacturer__text {
  font-weight: bold;
}
